<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>LoginTest</td><td>ValidateLoginTest.checkResponseStatus(java.util.List)[pri:0, instance:com.yatra.qa.testscripts.ValidateLoginTest@1f57539]<br/>ValidateLoginTest.checkResponseStatus(java.util.List)[pri:0, instance:com.yatra.qa.testscripts.ValidateLoginTest@4232c52b]<br/></td></tr>
<tr><td>ValidateEmail</td><td>ValidateEmailTest.checkResponseStatus(java.util.List)[pri:0, instance:com.yatra.qa.testscripts.ValidateEmailTest@1e6d1014]<br/>ValidateEmailTest.checkResponseStatus(java.util.List)[pri:0, instance:com.yatra.qa.testscripts.ValidateEmailTest@33f88ab]<br/></td></tr>
<tr><td>ValidateForgotPassword</td><td>ValidateForgotPassword.checkResponseStatus(java.util.List)[pri:0, instance:com.yatra.qa.testscripts.ValidateForgotPassword@7a765367]<br/></td></tr>
<tr><td>ValidateLogoutTest</td><td>ValidateLogoutTest.checkResponseStatus(java.util.List)[pri:0, instance:com.yatra.qa.testscripts.ValidateLogoutTest@528931cf]<br/></td></tr>
</table>
