<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>LoginTest</td><td>ValidateLoginTest.checkResponseStatus(java.util.List)[pri:0, instance:com.yatra.qa.testscripts.ValidateLoginTest@1efed156]<br/></td></tr>
</table>
